@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Source+Sans+Pro:wght@600&family=Ubuntu:wght@300&display=swap");
.linea-separacion {
  margin: 10px;
  margin-bottom: 1rem;
  border-top: 1px solid #8240ff;
  width: 100%;
  height: 10px;
}
.grid-team {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}
.grid-team-img {
  max-width: 100%;
}

.foto_mm {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.foto_jean {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.foto_mel {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.foto_jhon {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.fecha strong {
  color: black;
}

.text-user {
  text-align: justify;
  font-family: "Poppins", sans-serif;
}

.nombre-text h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
}

.card-final-2 img.rounded {
  width: 24px;
}

.background-container-final {
  background: #e2d8ff;
}

.img-home {
  // width: 570px;
  width: 100%;
  height: 380px;
}
