<div class="background-register">

</div>

<div class='container-register'>
  <h1>Elige la fecha y hora para tu reunión</h1>
  <div class="form-register">
    <h2>Datos personales</h2>
     <div class="calendar-container">
        <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
          <%= date %>

          <% meetings.each do |meeting| %>
            <div class="meeting">
              <p><%= meeting.name %></p>
              <small><%= meeting.time unless meeting.multi_days? %></small>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
