<div class="espacio-navbar">
</div>
<div class="background-perfil">
</div>

<div class='container-register'>
  <h1 class="text-center">Programa tu reunión</h1>
  <div class="form-entrevista text-center">
    <h4>Días disponibles</h4>
    <div class="calendar-container">
      <%= simple_form_for [@interview] do |f| %>
        <%= f.input :date, label: 'Elige una fecha' %>
        <%= f.button :submit, class: 'btn btn-primary', value: 'Reserva' %>
      <% end %>
    </div>
  </div>
</div>
