<div class="espacio-navbar">
</div>
<div class="background-perfil">
</div>

<div class='container-register'>
  <h1 class="text-center">Programa tu reunión</h1>
  <div class="form-entrevista  ">
    <div class="calendar-container">
      <%= simple_form_for [@interview] do |f| %>
        <%= f.input :date, label: 'Elige una fecha' %>
      <div class="text-center">
        <%= f.button :submit, class: 'btn-reservar', value: 'Reservar' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
