<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
   <h1>Bi thesis</h1>
    <a class="navbar-brand" href="#">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Conócenos</a>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to 'Cerrar sesión', destroy_user_session_path, class: 'nav-link text-white', method: :delete %>
            <% else %>
              <%= link_to 'Iniciar sesión', new_user_session_path, class: 'nav-link text-white' %>
            <% end %>
          </li>
      </ul>
      <% unless user_signed_in? %>
        <%= link_to 'Solicita una entrevista', new_user_registration_path, class: 'btn-yours' %>
      <% end %>
    </div>
  </div>
</div>
