<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="d-flex" style="align-items: center; text-decoration: none" href="#">
      <%= image_tag "logo.png", class: "navbar-brand"%>
      <h1 style="margin-bottom: 0px">Bi-Thesis</h1>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Conócenos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Iniciar sesión</a>
          </li>
      </ul>
      <a href="#" class="btn-yours">Solicita una entrevista</a>
    </div>
  </div>
</div>
