
<div class="card_f">
  <div class="card-content">
    <div class="card-img">
      <img src="*.jpg" alt="">
    </div>
    <div class="card-text"></div>
        <h4>name</h4>
        <p>cccccccccccccccc</p>
    </div>
  </div>
</div>
