<div class="text">
  <h1>Publicación más reciente</h1>
</div>

<div class="container card-recurso align-items-center">
  <div>
    <%= image_tag "text.jpg", class:"img-recurso" %>
  </div>
  <div class="card-text-recurso">
    <p>martes 13 May, 2022</p>
    <p>Autor: mariamer henriquez</p>
    <h5>Tu tesis como punto estratégico en tu proyecto de vida</h5>
    <p>En el caso de que necesites desarrollar un trabajo de investigación para optar por un grado acadpemico, resulta estratégico para tu vida personal y profesional el dejar de verla como un mero requisito y convertirla más bien en la punta de lanza de tu plan de crecimiento.</p>
  </div>
  <a href="#" class="btn-yours">Más detalle</a>
</div>
