.container {
    font-size: 25px;
}

.container h1 {
    color: #957fef;
}

.container h2 {
    color: #629D64;
}

.img-articulo1 {
    width: 1029px;
    height: 501px;
    top: 406px;
    vertical-align: middle;
}

.img-articulo1a {
    width: 695px;
    height: 489px;
    left: 369px;
    top: 1203px;
}