@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Source+Sans+Pro:wght@600&family=Ubuntu:wght@300&display=swap');
.title {
  color: #0ed49f;
  font-size: 23px;
}

.title-1 {
  color: #8240FF;
  text-align: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.img-articulo1 {
  width: 32%;
  margin: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.centro_articulo {
  margin: 3%;
  align-items: center;
  padding: 2%;
}
.centro_articulo h4 {
  font-weight: bold;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}

.centro_articulo p{
  text-align: justify;
}

.img-articulo1-2 {
  width: 22%;
  margin: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.text-subtitulo h4 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.text-secundario {
  text-align: justify;
}

.text-subtitulo-2 h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.text-subtitulo-2 p {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.text-subtitulo-2 {
  padding: 5%;
}
