.btn-yours {
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background: #ffdc5e;
  padding: 9px 20px;
  border-radius: 16px;
  text-decoration: none;
}

.btn-yours:hover {
  text-decoration: none;
  color: blueviolet;
  background: #ffe67d;
}

.btn-registro {
  display: block;
  background: #ffdc5e;
  width: 150px !important;
  height: 40px;
  border: none !important;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn-registro:hover {
  text-decoration: none;
  color: blueviolet;
  background: #ffe67d;
}

.center {
  width: 110px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.btn-yours-2 {
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background: #ffdc5e;
  padding: 18px 26px;
  border-radius: 27px;
  text-decoration: none;
}

.btn-yours-2:hover {
  text-decoration: none;
  color: blueviolet;
  background: #ffe67d;
}

.btn-yours-3 {
  color: black;
  background: #ffdc5e;
  padding: 3px 16px;
  border-radius: 16px;
  text-decoration: none;
  width: 120px;
}

.btn-yours-3:hover {
  text-decoration: none;
  color: black;
  background: #ffe67d;
}

.btn-yours-4 {
  color: black;
  background: #ffdc5e;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  width: 120px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn-yours-4:hover {
  text-decoration: none;
  color: blueviolet;
  background: #ffe67d;
}
.btn-edit-1 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: black;
  background: #ffdc5e;
  padding: 6px 20px;
  border-radius: 16px;
  text-decoration: none;
  border: none !important;
}

.btn-edit-1:hover {
  text-decoration: none;
  color: blueviolet;
  background: #ffe67d;
}

.btn-edit-2 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: black;
  background: #ffdc5e;
  text-decoration: none !important;
  padding: 1%;
  padding-right: 2%;
  padding-left: 2%;
  border-radius: 16px;
}
.btn-edit-2:hover {
  text-decoration: none;
  color: blueviolet;
  background: #ffe67d;
}

.btn-detallea {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: white;
  padding: 8px 24px;
  border-radius: 25px;
  font-weight: bold;
  background: linear-gradient(#ffe67d, #d1b853);
  border: 1px solid #d1b853;
}

.btn-detallea:hover {
  text-decoration: none;
  color: blueviolet;
  background: #ffe67d;
}

.checkbox {
  position: absolute;
  transform: scale(0);
}

.checkbox + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.checkbox + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.checkbox:checked + label::before {
  background-color: #1EDD88;
}

.checkbox + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.checkbox:checked + label::after {
  left: 18px;
}

.btn-reservar {
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background: #ffdc5e;
  padding: 9px 20px;
  border-radius: 16px;
  text-decoration: none;
  border: none !important;
}

.btn-reservar:hover {
  text-decoration: none;
  color: blueviolet;
  background: #ffe67d;
}

.icono-check {
  color: #1cd1a1;
  font-size: 100px;
}

.upload-file {
  position: relative;
  display: inline-block;
}

.upload-file::before {
  cursor: pointer;
  background-color: #8240FF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 0px;
  content: 'Seleccionar archivo';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.upload-file input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}
