.btn-yours {
  color: black;
  background: #FFE67D;
  padding: 6px 20px;
  border-radius: 16px;
  text-decoration: none;
}

.btn-yours:hover {
  text-decoration: none;
  color: black;
  background: #ffdc5e;
}
