.simple-calendar {
  table {
    border: none;
  }
  .today {
    background-color: white;
  }
  .day {
    height: 50px;
  }
}

.form-entrevista {
  background-color: white;
  width: auto;
  padding: 3%;
}

.container-register h1 {
  padding-top: 2%;
  padding-bottom: 2%;
}

.form-entrevista h4 {
  color: #8240ff;
  font-weight: bold;
}

.tabla_calendario {
  border: none;
  background: none;
}

.tabla_calendario tr {
  background: none;
}
.simple-calendar td {
  border: none;
  text-align: center;
  padding: 0%;
}

.simple-calendar th {
  border: none;
  text-align: center;
}
.table-striped tbody tr:nth-of-type(odd) {
  background: none;
}

.simple-calendar .prev-month {
  background: none;
}

.simple-calendar .next-month {
  background: none;
}

.calendar-container {
  width: 100%;
  display: inline-block;
}

.fa-angle-right,
.fa-angle-left {
  color: #8240ff;
  font-size: 20px;
}

.calendar-title {
  color: #8240ff;
}
