@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Source+Sans+Pro:wght@600&family=Ubuntu:wght@300&display=swap');
.card {
  box-shadow: 2px 2px 3px rgb(124, 119, 119);
  width: 240px;
  height: 340px;
  border: 0px;
  h5 {
    color: #957fef;
    font-family: 'Poppins', sans-serif;
  }
  p {
    font-family: 'Poppins', sans-serif;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
.card-text-2 h2 {
  font-family: 'Poppins', sans-serif;
  color: #6543ee;
  font-size: 41px;
  font-weight: bold;
 }

.card-text-2 p {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

.card-text-2{
  padding: 97px;
  padding-top: 308px;
}

.card-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.img-home {
  width: 570px;
  height: 380px;
}

.card-text-3 h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 41px;
  font-weight: bold;
  color: #6543ee;
}

.card-text-3 p {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}
.container-entrevista {
  padding: 100px;
  h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 30px;
  }
}

.interview-info {
  padding: 100px;
}


.card-recurso {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.img-recurso {
  width: 472px;
  height: 292px;
}
.container-dashboard {
  height: 100vh;
  width: 100%;
  display: flex;
}

.main-dashboard {
  flex-grow: 1;
  padding: 25px 50px;
  background-color: #FCFBFF;
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: #8240FF;
      font-size: 36px;
      font-weight: 500;
      span{
        color: black
      }
    }
    .avatar-btn {
      width: 130px;
      height: 50px;
      border: 1px solid #8240FF;
      border-radius: 15px;
      padding: 10px 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        color: #8240FF;
        font-size: 25px;
      }
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
  .bar-space {
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #D7C3FF;
    margin-bottom: 20px;
  }
}

.card-text-recurso h5 {
  color: #8240FF;
}

.container-recurso h1 {
  color: #8240FF;
  font-weight: bold;
}
.container-recurso-2 h1 {
  color: #8240FF;
  font-weight: bold;
}
