@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Source+Sans+Pro:wght@600&family=Ubuntu:wght@300&display=swap');
.card {
  box-shadow: 2px 2px 3px rgb(124, 119, 119);
  h5 {
    color: #957fef;
    font-family: 'Poppins', sans-serif;
  }
  p {
    font-family: 'Poppins', sans-serif;
  }
}

.container-entrevista {
  padding: 100px;
  h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  p{
    margin-bottom: 30px;
  }
}

.interview-info {
  padding: 100px;
}
