.content-dash {
  background-color: white !important;
  width: 100%;
  border: 1px solid #8240FF;
  padding: 25px 25px;
  border-radius: 5px;
  height: 70vh;
  overflow: auto;
}

.container-video {
  width: 60%;
  margin: 30px auto;
}

.container-dashboard {
  height: 100vh;
  width: 100%;
  display: flex;
}

.main-dashboard {
  flex-grow: 1;
  padding: 25px 50px;
  background-color: #FCFBFF;
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: #8240FF;
      font-size: 36px;
      font-weight: 500;
      span{
        color: black
      }
    }
    .avatar-btn {
      width: 100px;
      height: 50px;
      border: 1px solid #8240FF;
      border-radius: 15px;
      padding: 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        color: #8240FF;
        font-size: 25px;
      }
      img {
        width: 35px;
        height: 35px;
      }
      &:hover {
        box-shadow: 0 0 5px #8240FF;
        border: none;
      }
    }
  }
  .bar-space {
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #D7C3FF;
    margin-bottom: 20px;
  }
}
