i {
  transition: all .2s ease-in;
}
a {
    color: #a371ff;
    text-decoration: none;
    background-color: transparent;
    &:hover {
      color: #9c66ff;
    }
}

.disabled {
  color: rgb(182, 182, 182) !important;
}

.completed {
      color: #1CD1A1 !important;

}

.nav-link.completed.active {
      color: #1CD1A1 !important;
}

// .completed.nav-link.active {
//   color: #ffffff !important;
// }
.nav-pills .nav-link.active{
  color: #7124ff;
  background-color: #ffffff !important;
  i {
    font-size: 24px;
  }
}

.progress-circles {
  display: flex;
  gap: 10px;
  color: #00B182;
}

.title-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .status-line {
    color: rgb(134, 134, 134);
    i {
      color: #1CD1A1;
    }
  }
}



.content {
  display: flex;
  gap: 10px;
  .tab-content{
    flex-grow: 1;
    width: 100%;
  }
  .content-side {
    margin-top: 88px;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    .box-progress{
      height: 73px;
      // border: 1px solid #b48bff;
      box-shadow: 0 0 5px #b48bff;
      border-radius: 5px;
      padding: 10px;
    }
    .box-chat, .box-interview{
      width: 100%;

      // border: 1px solid #b48bff;
      box-shadow: 0 0 5px #b48bff;
      border-radius: 5px;
      padding: 10px;
      background-color: white;
      transition: box-shadow 0.1s linear;
      &:hover {
        box-shadow: 0 0 10px #b48bff;
      }
    }
    .box-interview{
      padding: 20px;
    }
  }
}

.green {
  color: #1CD1A1
}
.green-2 {
  color: #9fffe5 !important
}


.content-dash {
  background-color: white !important;
  width: 100%;
  box-shadow: 0 0 5px #b48bff;
  padding: 25px 25px;
  border-radius: 5px;
  min-height: 80vh;
  overflow: auto;
}

.container-video {
  width: 90%;
  margin: 30px auto;
}

.container-dashboard {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.main-dashboard {
  flex-grow: 1;
  padding: 25px 50px;
  background-color: #f7f6fc;
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: #8240FF;
      font-size: 36px;
      font-weight: 500;
      span{
        color: black
      }
    }
    .avatar-btn {
      width: 100px;
      height: 50px;
      border: 1px solid #c3a3ff;
      border-radius: 15px;
      padding: 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        color: #8240FF;
        font-size: 25px;
      }
      img {
        width: 35px;
        height: 35px;
      }
      &:hover {
        box-shadow: 0 0 5px #8240FF;
        border: none;
      }
    }
  }
  .bar-space {
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #D7C3FF;
    margin-bottom: 20px;
  }
}

.container-upload {
  text-align: center;
  padding: 10px 50px;
}

.fa-file-word {
  font-size: 24px;
  color: #1EDD88;
}

.container-file {
  margin-top: 20px;
}
