.background-login {
  background-image: url(https://images.unsplash.com/photo-1523580846011-d3a5bc25702b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: 30%;
}

.login {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: calc(100vh - 60px);
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.background-register {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://images.unsplash.com/photo-1523580846011-d3a5bc25702b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  height: 500px;
  background-position: 100% 10%;
  background-size: cover;
}

.container-register {
  width: 60%;
  margin: 0 auto;
  margin-top: -200px;
  h1 {
    font-weight: bold;
    color: white;
  }
}

.form-register {
  background-color: #fcfbff;
  margin: 35px auto;
  padding: 30px 50px;
  margin-top: 0%;
  h2 {
    font-weight: bold;
    font-size: 24px;
  }
  input {
    width: 100%;
    font-size: 14px !important;
    color: black;
  }
}

.grid-form {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 40px;
}

.form-login {
  width: 55%;
  h2 {
    font-size: 48px;
    font-weight: bold;
  }
}

input {
  border-radius: 15px !important;
  border: 1px solid #c4a5ff !important;
  &:focus {
    border: 0px solid #c4a5ff !important;
    box-shadow: 0 0 0 0.2rem #c4a5ff !important;
  }
}

.form-check {
  color: #8240ff;
  #user_remember_me {
    border: 1px solid #8240ff !important;
  }
}

.btn-yellow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: block;
  width: 150px;
  height: 40px;
  background-color: #ffe67d;
  border: none !important;
  margin: 0 auto;
}

.btn-yellow:hover {
  text-decoration: none;
  color: blue;
  background: #ffe67d;
}

.form-login a {
  color: black !important;
  font-weight: lighter !important;
}

.background-perfil-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://images.unsplash.com/photo-1523580846011-d3a5bc25702b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  height: 350px;
  background-position: 38%;
  background-size: cover;
}

.container-perfil {
  margin: 0 auto;
  margin-top: -300px;
}

.container-edit {
  padding: 4% !important;
  background-color: white;

  overflow: auto;
}

.background-edit {
  background-image: url(https://images.unsplash.com/photo-1523580846011-d3a5bc25702b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: 30% 37%;
}

.edit-photo-user {
  border: none !important;
  border-radius: 0px !important;
}

.espacio-navbar {
  height: 60px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #8240ff;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8240ff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(208, 160, 240);
}

.text-reserva h2 {
  font-weight: bold;
}

.container-register-2 {
  width: 60%;
  margin: 0 auto;
  margin-top: -220px;
  h1 {
    font-weight: bold;
    color: white;
  }
}

.card-reunion {
  width: 60%;
  margin: 0 auto;
  background: white;
  padding: 2%;
}

.title-perfil-2 {
  color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container-entrevista h2 {
  font-weight: bold;
}

.container-reunion {
  margin-top: -213px;
}
