@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Source+Sans+Pro:wght@600&family=Ubuntu:wght@300&display=swap');
.navbar-lewagon {
  justify-content: space-between;
  background: #957fef;
}

.navbar-brand {
  width: 63px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.container-fluid h1 {
  color: white;

  font-family: 'Poppins', sans-serif;
   font-weight: bold;
  font-size: 26px;
  text-decoration: none !important;
}

.text-white{
  color: white !important;
}
