.sidebar {
  background-color: white;
  padding: 30px 20px;
  border-right: 1px solid #eadeff;
  width: 100px;
  a:hover {
    text-decoration: none;
  }
  .logo-tipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 56px;
      margin-bottom: 5px;
    }
    h3 {
      font-size: 10px;
      font-weight: 700;
      color: #8240FF;
    }
  }
  .bar-lines {
    margin-top: 50px;

  }
}
